@import url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/colorschemes/cyan.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body,
h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
}

:root {
    --white: 243, 242, 243; /* F3F2F3 */
    --white-off: 207, 221, 233; /* CFDDE9 */
    --jade-green: 0, 172, 111; /* 00AC6F */
    --honey-yellow: 255, 194, 85; /* FFC255 */
    --cherry-red: 212, 51, 83; /* D43353 */
    --deep-blue: 78, 116, 247; /* 4E74F7 */
}
:root {
    --rounding: 12px;
    --rounding-alt: 9px;
    --rounding-large: 24px;
    --rounding-circle: 100px;
}


/* #### login frame #### */

/*Narrow the login form, size according to display size (bigger on mobile)*/
#loginPage .readOnlyContent,
#loginPage form {
    max-width: 22em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    margin-top: 8em;
}

/*Hide "manual" and "forgot" buttons}*/
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
    display: none;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    margin-left: auto;
    margin-right: auto;
    background: rgba(var(--dark-highlight), 0.33);
    backdrop-filter: blur(2px);
    width: 24em;
    border-radius: 44px; /* hardcoded */
}
#loginPage .squareCard {
    width: 33%;
}
#loginPage form {
    padding-top: 4em;
}
/* Fix for LogIn Box greeting */
#loginPage .visualLoginForm h1 {
    padding-top: 3em;
}

#loginPage .sectionTitle {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1.2em !important;
}

#loginPage .pageTitleWithDefaultLogo {
    display: none !important;
}

/* margin to Jellyfin logo */
.pageTitle {
    margin: 0 0 0 0.15em;
}
